# LaTeX temporary files
*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.out
*.synctex.gz
*.synctex(busy)
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_latexmk

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini